/src/
/test/
/coverage/
/.nyc_output/
/.github/

.babelrc
.commitlintrc.js
.editorconfig
.eslintcache
.eslintignore
.eslintrc.yml
.gitattributes
.huskyrc.json
.markdownlintrc
.nvmrc
.travis.yml
coverage.lcov
rollup.config.js